<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="https://www.facebook.com/Anetka-z-Apteki-563376560525641/"><span class="fa fa-facebook-official"></span> Anetka z Apteki</a>
      </li>
    </ul>
  </div>
</nav>
