<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
<div id="fb-root"></div>
<script>
    $(document).ready(function(){
        $('#characterLeft').text('Pozostało 140 znaków');
        $('#message').keydown(function () {
            var max = 140;
            var len = $(this).val().length;
            if (len >= max) {
                $('#characterLeft').text('Przekroczyłeś limit');
                $('#characterLeft').addClass('red');
                $('#btnSubmit').addClass('disabled');
            }
            else {
                var ch = max - len;
                $('#characterLeft').text('Pozostało ' + ch + ' znaków.');
                $('#btnSubmit').removeClass('disabled');
                $('#characterLeft').removeClass('red');
            }
        });
    });
</script>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v2.5";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/anetka.png">
    </a>
    <h3>PharmWawa</h3>
    <p>Dzień dobry! Czy potrzebujesz jakiegoś leku? A może masz lek, którego ktoś bardzo potrzebuje?</p>
    <p>Chętnie pomogę, napisz do mnie.</p>
      <div class="row">
          <div class="btn-group-vertical">
            <div class="fb-messengermessageus"
                 type="button"
                 messenger_app_id="540239382848956"
                 page_id="1823745734569394"
                 color="blue"
                 size="standard" ></div>
          </div>
      </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="container content">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="testimonials">
            <div class="active item">
              <div class="carousel-info">
                <img alt="" src="/user-297566_960_720.png" class="pull-left">
                <div class="pull-left">
                  <span class="testimonials-name">Anetka</span>
                  <span class="testimonials-post">Pracownica Warszawskiej Apteki</span>
                </div>
              </div>
              <blockquote>
                <p>Możesz zapytać mnie o lek, którego potrzebujesz a ja poszukam go dla Ciebie. Jeśli ktoś może go Tobie dostarczyć, poinformuję Cię o tym.</p>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container groups">
  <div class="row">
    <div class="col-sm-6">
      <div class="wrapper">
            <span class="group">
                <h4><i class="fa fa-user" style="color: orange"></i> Szukam leku</h4>
            </span>
      </div>
      <div class="well">
        <ol>
          <li><p><span>Zapytaj Anetkę o dowolny lek.</span></p></li>
          <li><p><span>Anetka poszuka go dla Ciebie w lokalnej społeczności.</span></p></li>
          <li><p><span>Gdy taka osoba się znajdzie, Anetka napisze do Ciebie.</span></p></li>
        </ol>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="wrapper1">
            <span class="group1">
                <h4><i class="fa fa-user" style="color: indianred"></i> Potrzebuję informacji</h4>
            </span>
      </div>
      <div class="well">
        <ol>
          <li><p><span>Anetka pomoże Ci odnaleźć najbliższe apteki.</span></p></li>
          <li><p><span>Anetka pomoże Ci gdy coś Ciebie boli.</span></p></li>
          <li><p><span>Anetka znajdzie dla Ciebie lek w najlepszej cenie.</span></p></li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="container">
    <div class="col-sm-4 col-sm-offset-4">
        <img src='https://chart.googleapis.com/chart?cht=qr&chl=http%3A%2F%2Fpharmwawa.herokuapp.com%2F&chs=360x360&choe=UTF-8&chld=L|2' alt='qr code'><a href='http://www.qrcode-generator.de' border='0' style='cursor:default'  rel='nofollow'></a>
    </div>
</div>

<div class="container">
    <div class="col-sm-4 col-sm-offset-4">
        <div class="form-area">
            <form role="form">
                <br style="clear:both">
                <h3 style="margin-bottom: 25px; text-align: center;">Jesteś zainteresowany współpracą? Napisz do nas</h3>
                <div class="form-group">
                    <input type="text" class="form-control" id="name" name="name" placeholder="Nazwa" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="email" name="email" placeholder="Email" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="subject" name="subject" placeholder="Temat" required>
                </div>
                <div class="form-group">
                    <textarea class="form-control" type="textarea" id="message" placeholder="Treść" maxlength="140" rows="7"></textarea>
                    <span class="help-block"><p id="characterLeft" class="help-block ">Przekroczyłeś limit znaków</p></span>
                </div>
                <button type="button" id="submit" name="submit" class="btn btn-primary pull-right">Submit Form</button>
            </form>
        </div>
    </div>
</div>

<div class="container"><p></p>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    <p>Projekt stworzony podczas Hackathonu <a href="http://www.wawcode.pl/">WAWCODE</a>. Jeśli potrzebujesz jakiegoś leku, bądź jeśli masz lek, którego potrzebują ludzie w Twojej okolicy, to jesteś w dobrym miejscu. Ułatwimy Ci to zadanie tak bardzo, że będziesz się turlał z radości po dworcu centralnym.</p>
    <p>made by Makaroniarze</p>
    <iframe src="//giphy.com/embed/DXyVX7jnGBNPa" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="http://giphy.com/gifs/way-fine-kinja-DXyVX7jnGBNPa">via GIPHY</a></p>
  </div>
</div>

</body>
</html>
